@media screen and (max-width:576px) {
    /* header section style start */

    img {
        width: 100%;
        height: 100%;
    }

    nav {
        margin: 20px 16px;
    }

    .site-logo img {
        width: 50px;
        height: 25px;
    }

    .menu-items {
        display: none;
    }

    .manu-cart {
        display: flex;
    }

    .manu-card {
        display: flex;

    }

    .manu-cart a {
        text-decoration: none;
        color: rgba(37, 36, 50, 1.00);
    }

    .header-section {
        margin: 0px;
    }

    .banner {

        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        padding: 0px;
    }


    .banner-content {
        padding: 16px;
    }

    h1 {
        padding: 10px 100px 10px 0;
        font-size: 30px;
    }

    .banner-content p {
        font-size: 14px;

    }

    /* planrs section style start */

    .plants-section {
        margin: 16px;
    }

    .plants-section-title {
        text-align: center;
        padding: 20px;
    }

    .plants-section-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }

    /* planrs section style end */




    /* planrs Lover section style start */

    .trusted-badge {
        display: none;
    }

    .flower-plants-lover-section {

        margin: 30px 16px;
        flex-direction: column;
        gap: 60px;
    }

    .flower-lover-section-title {
        width: 100%;
        padding: 0px;
    }

    .flower-lover-section-title h2 {
        font-size: 30px;
    }

    .flower-lover-section-title ul li {
        margin: 12px;
    }

    /* planrs Lover section style end*/


    /* latest deal section style start*/

    .latest-deal-section-card {
        display: grid;
        gap: 10px;

        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 200px 200px 200px;

    }

    #double {
        grid-row: span 1;
    }

    .latest-deal-section {
        margin: 50px 16px;
    }

    .latest-deal-section-title {
        padding: 20px;
    }

    /* latest deal section style end*/


    /* join section style start*/


    .join-section {
        text-align: center;
        padding: 50px 20px;
        background-size: cover;
    }

    .join-section h2 {
        padding-bottom: 20px;
        color: white;
        font-size: 24px;
        font-weight: bold;
    }

    .input-field input[type="button"] {

        padding: 12px 15px;
    }

    /* join section style end*/

    /* footer section start */

    .footer-section {
        margin: 0;
        padding-top: 20px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 50px;
        justify-content: space-between;
    }

    .site-logo-section-img {
        width: 50px;
        height: 30px;
    }

    .site-logo-section p {
        padding: 10px;
    }
}